- content_for :nav do
  %li.horizontal.circle
    %a
      %i.material-icons view_module

- content_for :sidebar do
  %ul.vertical
    %li
      %a
        %i.material-icons receipt
        %span My Tickets
    %li
      %a
        %i.material-icons devices
        %span My Devices

.card
  .card-content
    .card-title Hello, World!
    Some content
  