- content_for :nav do
  %li.horizontal.circle
    %a
      %i.material-icons view_module

- content_for :sidebar do
  %ul.vertical
    %li
      %a
        %i.material-icons receipt
        %span My Tickets
    %li
      %a
        %i.material-icons devices
        %span My Devices

.card
  .card-content
    .card-title Hello, World!
    Some content

.popover
  .popover-grow.right
  .popover-body
    .card
      .card-content
        %span.title.grey-text.text-darken-1 Login
        .input-field
          %input#email{:type => "text", :class => "validate"}
          %label{:for => "email"} Email
        .input-field
          %input#password{:type => "password", :class => "validate"}
          %label{:for => "password"} Password
      .card-action
        %a.btn-flat.black-text Cancel
        %a.btn.blue Login