$mobile-screen: 512px;
$small-screen: 768px;
$large-screen: 993px;
$m-large-screen: 1047px;
$x-large-screen: 1400px;
@mixin respond-to($media) {
  @if $media==mobile-screen {
    @media only screen and (max-width: $mobile-screen) {
      @content;
    }
  }
  @if $media==small-screen {
    @media only screen and (max-width: $small-screen) {
      @content;
    }
  }
  @else if $media==medium-screen {
    @media only screen and (min-width: $small-screen + 1) and (max-width: $large-screen - 1) {
      @content;
    }
  }
  @else if $media==large-screen {
    @media only screen and (min-width: $large-screen) {
      @content;
    }
  }
  @else if $media==m-large-screen {
    @media only screen and (min-width: $m-large-screen) {
      @content;
    }
  }
  @else if $media==x-large-screen {
    @media only screen and (min-width: $x-large-screen) {
      @content;
    }
  }
  @else if $media==not-small-screen {
    @media only screen and (min-width: $small-screen) {
      @content;
    }
  }
  @else if $media==not-large-screen {
    @media only screen and (max-width: $large-screen - 1) {
      @content;
    }
  }
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 12pt;
}

.container-responsive {
  max-width: 512px;
  margin: auto;
  @include respond-to(mobile-screen) {
    max-width: 260px;
  }
  @include respond-to(medium-screen) {
    max-width: 768px;
  }
  @include respond-to(m-large-screen) {
    max-width: 768px;
  }
  @include respond-to(x-large-screen) {
    max-width: 1200px;
  }
}

body {
  background-color: #eee;
  #main-container {
    transition: padding 0.5s;
    &.fixed-navbar {
      padding-top: 64px;
    }
  }
  .side-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 100%;
    max-height: calc(100% - 64px);
    left: 0;
    top: 64px;
    transition: left 0.5s;
    @extend %scrollbar-helper;
    @include respond-to(large-screen) {
      &+#main-container {
        padding-left: 280px;
      }
      &.active {
        left: -280px;
        &+#main-container {
          padding-left: 0;
        }
      }
    }
    @include respond-to(not-large-screen) {
      max-height: 100%;
      &:not(.active) {
        left: -280px;
      }
    }
    .footer {
      flex: 0 0 auto;
      padding: 8px 16px;
      color: rgba(0, 0, 0, 0.55);
    }
    .body {
      flex: 1 0 auto;
      .title {
        display: none;
        padding: 16px 0 0 24px;
        font-size: 1.8rem;
        color: rgba(0, 0, 0, 0.55);
        @include respond-to(not-large-screen) {
          display: block;
        }
      }
    }
    .tool-bar {
      display: none;
      background-color: rgba(0, 0, 0, 0.05);
      padding: 0 8px;
      height: 64px;
      @include respond-to(not-large-screen) {
        display: block;
      }
    }
    @include respond-to(not-large-screen) {
      position: fixed;
      left: 0;
      top: 0;
      height: 100vh;
      z-index: 1000;
      background-color: #fff;
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
    }
  }
}

nav {
  &.fixed {
    position: fixed;
    z-index: 1000;
  }
  .nav-wrapper {
    padding: 0 8px;
    .title {
      position: relative;
      color: inherit;
      margin: 0 36px 0 16px;
      font-size: 1.8rem;
    }
    #profile-options {
      padding: 0 4px 0 32px;
    }
    .search {
      padding: 8px 16px 8px 0;
      max-width: 720px;
      .input-field {
        input {
          border-radius: 5px;
          background-color: rgba(0, 0, 0, 0.05);
          transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
          &:focus {
            border-radius: 5px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
          }
        }
        label {
          transform: none;
        }
        .material-icons {
          line-height: 52px;
          font-size: 1.5rem;
          @include respond-to(small-screen) {
            line-height: 46px;
          }
        }
      }
    }
  }
}

ul {
  list-style-type: none;
  color: inherit;
  a {
    display: block;
    color: inherit;
    line-height: inherit;
  }
  li {
    color: inherit;
  }
  i.material-icons {
    line-height: inherit;
    height: inherit;
    color: inherit;
  }
  &.horizontal {
    height: inherit;
    line-height: 0;
    margin: 0;
    li {
      display: inline-block;
      height: inherit;
      line-height: inherit;
      a {
        cursor: pointer;
        -webkit-transition: background-color .3s;
        transition: background-color .3s;
        font-size: 1rem;
        padding: 0 15px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
      &.circle {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        height: 48px;
        a {
          height: 48px;
          width: 48px;
          padding: 0;
          border-radius: 50%;
          i.material-icons {
            width: 48px;
            height: 48px;
            line-height: 52px;
            text-align: center;
          }
        }
      }
    }
  }
  &.vertical {
    width: 100%;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    li {
      min-height: 40px;
      line-height: 40px;
      transition: background-color 0.1s;
      padding: 4px 0;
      cursor: pointer;
      a {
        min-height: inherit;
        padding: 0 16px 0 24px;
      }
      i.material-icons {
        float: left;
      }
      span:not(.badge) {
        display: inline-block;
        padding-left: 32px;
        line-height: inherit;
        min-height: inherit;
        color: inherit;
        font-size: 0.9rem;
      }
      span.badge {
        padding: 0;
        transform: translateY(50%);
        &:empty {
          display: none;
        }
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.title {
  color: inherit;
  font-size: 1.8rem;
}

.popover {
  position: absolute;
  border-radius: 2px;
  z-index: 10000;
  overflow: hidden;
  pointer-events: none;
  box-shadow: none;
  .popover-body {
    opacity: 0;
    margin: 0;
    box-shadow: none;
    z-index: 10001;
    background-color: #fff;
  }
  .popover-grow {
    position: absolute;
    padding: 0;
    top: -50%;
    left: -50%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 1;
    z-index: -1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: padding 0.5s;
    &.right {
      left: unset;
      right: -50%;
    }
    &.bottom {
      top: unset;
      bottom: -50%;
    }
  }
  &.active {
    transition: box-shadow 1s;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
    pointer-events: unset;
    .popover-grow {
      transition: padding 0.5s;
      padding: 100%;
    }
    .popover-body {
      transition: opacity steps(1) 0.25s;
      opacity: 1;
      &>div {
        margin: 0;
      }
    }
  }
}

.flex {
  display: flex;
  &.flex-col {
    flex-direction: column;
  }
  &.flex-row {
    flex-direction: row;
  }
}

.flex-md {
  flex: 1 0 auto;
}

.rotate-180 {
  transform: rotateX(180deg);
}

#ticket-container {
  margin: 0 auto;
  .grid-sizer,
  .grid-item {
    width: 240px;
    margin: 8px;
  }
}

%scrollbar-helper {
  overflow-y: overlay;
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    transition: background-color 0.2s;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.35)
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}